	
	
	<link rel="stylesheet" href="/css/threadindex.css" />
	<script src="/js/threadindex.js"></script>

		
		<ul id="threadindex_list" class="threadindex_list">	
			
			<% @threads_arr.each { |thread| %>
				
				<li>

					<a href='/sg/thread?tid=<%= thread[0] %>' >
						
						<div class="threadindex_title"><b><%= thread[3].html_safe %></b></div>
						<div class="threadindex_details">By: <b><%= thread[1] %></b>, Last: <b><%= thread[2] %></b>, <%= thread[4] %>, <%= thread[5] %> replies.</div>
							
					</a>	
						
				</li>
			<% } %>

		
			<li id="threadindex_loadmore">
				More...
			</li>
		
		</ul>




	<script>
		$(document).ready(function() {
			ti = new Threadindex();
			ti.pageloaded = <%= @pageloaded.to_json.html_safe %>;
			ti.init();
		});
	</script>