	
	
	<link rel="stylesheet" href="/css/threadindex.css" />
	<script src="/js/threadindex.js?"></script>

		<ul id="threadindex_list" class="threadindex_list">	
			
			<% @threads_arr.each { |thread| %>
				
				<li>

					<a href='/<%= @controller %>/thread?tid=<%= thread[0] %>' class="threadindex_a">
						
						<div class="threadindex_title"><b><%= thread[3].html_safe %></b></div>
						<div class="threadindex_details">By: <b><%= thread[1] %></b>, Last: <b><%= thread[2] %></b>, <%= thread[4] %>, <%= thread[5] %> replies.</div>
							
					</a>	
						
				</li>
			<% } %>

		
			<li id="threadindex_loadmore">
				More...
			</li>
		
		</ul>


	<script>
		$(document).ready(function() {
			ti = new Threadindex();
			ti.controller =  "<%= @controller %>";
			ti.pageloaded = <%= @pageloaded.to_json.html_safe %>;
			ti.init();
		});
	</script>


	<!-- Start of StatCounter Code for Default Guide -->
	<script type="text/javascript">
	var sc_project=10547243; 
	var sc_invisible=1; 
	var sc_security="daca4dbd"; 
	var scJsHost = (("https:" == document.location.protocol) ?
	"https://secure." : "http://www.");
	document.write("<sc"+"ript type='text/javascript' src='" +
	scJsHost+
	"statcounter.com/counter/counter.js'></"+"script>");
	</script>
	<noscript><div class="statcounter"><a title="free web stats"
	href="http://statcounter.com/" target="_blank"><img
	class="statcounter"
	src="http://c.statcounter.com/10547243/0/daca4dbd/1/"
	alt="free web stats"></a></div></noscript>
	<!-- End of StatCounter Code for Default Guide -->
