
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="/css/threadindex.css" />
<link rel="stylesheet" href="/css/reply.css?" />

<ul id="fx_list" class="threadindex_list">	
	
	<li>
		<a href="/<%= @controller %>/thread?tid=<%= @tid %>" class="threadindex_a">
			<div>
				<span class="post_back_icon"><i class="fa fa-arrow-left"></i></i></span>	
				
			</div>

		</a>
	</li>

	<li>
		
		<iframe 
			frameborder="0px" 
			id="cari_iframe"
			src="http://cforum.cari.com.my/forum.php?mod=post&action=reply&tid=<%= @tid %>#message"
		></iframe>
	</li>

</ul>


