	
	<link rel="stylesheet" href="/css/thread.css?" />	
	<script src="/js/thread.js?"></script>


		<ul id="post_list" class="post_list">	
			
			<% @posts_arr.each { |post| %>
				
				<li class="li_pg_0">
					<div class="post">
						<div class="post_details"><b><%= post[1] %></b>, <b><%= post[2] %></b></div>
						<div class="post_text"><%= post[3].html_safe %></div>
					</div>	
						
				</li>
			<% } %>

			<% if @maxpage > 1 %>
				<li id="post_loadmore">
					<div id="post_loadmorefirst">More from First ...</div>
					<div id="post_loadmorelast">... More from Last</div>
				</li>
			<% end %>

		</ul>


	</table>

	<script>
		$(document).ready(function() {
			th = new Thread();
			th.controller =  "<%= @controller %>";
			th.tid 		= <%= @tid.to_json.html_safe %>;
			th.maxpage 	= <%= @maxpage.to_json.html_safe %>;
			th.pageloaded = [0];
			th.init();
		});
	</script>