body {
	background-color: #fafafa;

}


.post_list {
	margin: 0 auto;
  	padding: 0;
  	list-style-type: none;
  	background-color: #fff;

}



@media only screen and (min-width: 788px) {
	.post_list {
		max-width: 700px;
		background-color: #fff;
  		box-shadow: 0 0 1px #aaa;
  	}
}




.post_list li {
	border-top: 1px solid #EDDDDD;

}

.post {
		
	font-size: 14px;
	line-height: 1.3em;
	color: #000;
	display: block;
	padding: 20px 10px;
	text-decoration: none;
}


.post_text { 
	margin-top: 20px;
	font-size: 14px;
}

.post_details {
	font-size: 12px;
	color:#666;
}


#post_loadmore {

	text-align: center;
	font-size: 14px;
	padding: 20px 10px;
	position: relative;
	height: 60px;
}

#post_reply {

	text-align: center;
	font-size: 14px;
	padding: 20px 10px;
	position: relative;
	height: 60px;
	background-color: #eee;
	color:white;
	font-weight: bold;

}

#post_reply a:hover {
	background-color: #eee;
}

#post_reply a {
	color:black;
}



#post_back {

	text-align: center;
	font-size: 14px;
	padding: 20px 10px;
	position: relative;
	height: 60px;
	font-weight: bold;
	background-color: #eee;
}
#post_back a { 
	color:black;
}

.post_back_icon {
	position: absolute;
	left: 14px;
	top: 18px;
}

.fa-home {
	font-size: 20px;
}

#post_loadmorefirst {

	position: absolute;
	top:0px;
	left:0px;
	height: 60px;	
	width: 150px;
	padding-top: 20px;
	cursor: pointer;
	

}

#post_loadmorelast {
	
	position: absolute;
	top:0px;
	right:0px;
	height: 60px;		
	width: 150px;
	padding-top: 20px;
	cursor: pointer;
	
}	


font {
	margin-top:20px;
}












